@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #cc4b4c;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #cc4b4c;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #cc4b4c;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn_burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn_burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  opacity: 0.98;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background: whitesmoke;
  list-style: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.nav .menu-nav_item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav_item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav_item.active > a {
  color: #000000;
}

.nav .menu-nav_link {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav_link:hover {
  color: #cc4b4c;
}

.menu-nav_item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menu-nav_item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-nav_item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menu-nav_item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.menu-nav_item:nth-child(5) {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav_item {
    display: inline;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  #home .container .home-image {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

#home {
  background-image: url("/images/header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 20vh;
}

#home .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

#home .container .home-welcome h1 {
  font-size: 3rem;
  line-height: 1.3;
  color: #ffffff;
}

#home .container .home-welcome p {
  margin-top: 1rem;
  color: #ffffff;
}

#home .container .home-welcome a {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 30px;
  background-color: gray;
  margin-top: 3rem;
  background-color: #ffffff;
  color: #cc4b4c;
}

#home .container .home-image img {
  max-width: 290px;
  display: block;
  float: right;
}

#features {
  width: 100%;
  padding-top: 10vh;
}

#features .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  grid-row-gap: 100px;
  padding-bottom: 10vh;
}

#features .container .col {
  width: 100%;
}

#features .container .col h2 {
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

#features .container .col p {
  color: #333;
}

#features .container .col img {
  max-width: 290px;
  display: block;
  margin: 0 auto;
}

#features .container .col a {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 30px;
  background-color: gray;
  margin-top: 1.2rem;
  background-color: #cc4b4c;
  color: #ffffff;
}

#pricing {
  width: 100%;
  padding-top: 10vh;
}

#pricing h1 {
  text-align: center;
  font-size: 2.5rem;
}

#pricing p {
  text-align: center;
}

#pricing .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

#pricing .container .col {
  width: 100%;
  background-color: whitesmoke;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#pricing .container .col .price {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 8px;
}

#pricing .container .col .price:hover {
  -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

#pricing .container .col .price .header {
  background-color: #cc4b4c;
  color: #ffffff;
  font-size: 2rem;
  border-radius: 8px 8px 0 0;
  border-top: none;
}

#pricing .container .col .price li {
  border-top: 1px solid #d1d1d1;
  padding: 20px;
  text-align: center;
}

#pricing .container .col .price .grey {
  font-size: 1.5rem;
}

#pricing .container .col .price .button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 30px;
  background-color: gray;
  width: 60%;
  font-size: 1rem;
  background-color: #cc4b4c;
  color: #ffffff;
}

#contact {
  width: 100%;
  padding-top: 10vh;
}

#contact h1 {
  text-align: center;
  font-size: 2.5rem;
}

#contact p {
  text-align: center;
}

#contact .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  grid-row-gap: 20px;
  padding-bottom: 10vh;
}

#contact .container .col {
  width: 100%;
}

#contact .container .col input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 1rem;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#contact .container .col textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 6px;
  margin-bottom: 16px;
  height: 112px;
  font-size: 1rem;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
}

#contact .container .col .submit {
  background-color: #cc4b4c;
  color: #ffffff;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin-top: -3px;
}

#contact .container .col .submit:hover {
  cursor: pointer;
}

#team {
  width: 100%;
  padding-top: 10vh;
}

#team h1 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.4;
}

#team p {
  text-align: center;
}

#team .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  grid-row-gap: 100px;
  padding-bottom: 10vh;
}

#team .container .col {
  height: 300px;
  text-align: center;
}

#team .container .col img {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

#team .container .col p {
  color: #cc4b4c;
}

#team .container .col .social-icons {
  margin-top: 20px;
}

#team .container .col .social-icons a {
  margin: 0.4rem;
}

footer {
  width: 100%;
  background-color: #333;
  color: #ffffff;
  -webkit-box-shadow: 0px -2px 4px -1px #9c9c9c;
          box-shadow: 0px -2px 4px -1px #9c9c9c;
}

footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

footer .container .col .social-icons {
  text-align: right;
}

footer .container .col .social-icons a {
  color: #ffffff;
  margin: 0.3rem;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
}

header .logo-wrapper {
  padding: 1rem;
  padding-left: 5vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

header .logo-wrapper a img {
  width: 2.5rem;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 5vh 5vw;
}

a {
  color: #000000;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */